/** Advanced **/
$text-color: #1D1D1D;
$max-width: (960px: 18px, 640px: 16px, 320px: 14px);
h1 {
    font-size: 20px;
    @for $var from 1 to 3 {
        @each $width, $size in $max-width {
            @media screen and (max-width: $width) {
                h1 {
                    font-size: $size; };
                    @if $max-width < 320px {
                        .small {
                            color: $text-color;
                        }
                    }
                }
        }    
    }
}
