/** Each **/
$list-names: julien, john, sam, damian;
@each $name in $list-names {
    .photo-julien {
        background: image-url("photos/$name.jpg") no-repeat; 
    }
    .photo-john {
        background: image-url("photos/$name.jpg") no-repeat; 
    }
    .photo-sam {
        background: image-url("photos/$name.jpg") no-repeat; 
    }
      
      .photo-damian {
        background: image-url("photos/$name.jpg") no-repeat; 
    }
}
