body {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.box1, .box2, .box3, .box4, .box5 {
    width: 3.5em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background: rgb(29, 203, 106);
    font-size: 1em;
}

.box2 {
    background: rgb(45, 152, 223);
    flex-grow: 2;
    font-size: 2em;
}

.box3 {
    background: rgb(88, 99, 112);
    flex-grow: 3;
    font-size: 3em;
}

.box4 {
    background: rgb(159, 87, 187);
    flex-grow: 2;
    font-size: 2em;
}

.box5 {
    background: rgb(229, 126, 10);
    font-size: 1em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-shrink: 2;
}